body {
  font-family: var(--font-family);
}

.d-flex {
  display: flex;
}

.align-center {
  align-items: center;
}
.justify-center {
  justify-content: center;
}

.column{
  flex-direction: column;
}

.border-radius{
  border-radius: 5px;
}

.p-30 {
  padding: 30px;
}

.padding {
  padding: 1rem;
}

.my-20 {
  margin-top:20px ;
}

.justify-content-space-between {
  justify-content: space-between;
}

.justify-content-space-around {
  justify-content: space-around;
}

.text-align {
  text-align: center;
}
a {
  color: var(--text);
  text-decoration: none;
}

ul {
  list-style: none;
}

.width {
  width: 60%;
}

.mx-20 {
  margin-right: 20%;
}
